/* textarea {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 5px;
  border-top: 0;
  height: 20vh;
}
.list {
  height: 100%;
  overflow: scroll;
}
.display-flex {
  display: flex;
}

.container {
  height: 100vh;
}

.container div {
  padding: 1vw;
  width: 48vw;
  display: inline-block;
}



.low-key-input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid gray;
}

.input-label-pair {
  margin-top: 5px ;
  margin-bottom: 5px ;
}

.max-width {
  width: 100%;
}

.font-size-md {
  font-size: medium;
}
.font-size-large {
  font-size: large;
}
.font-size-xl {
  font-size: x-large;
}
.v-align-middle {
  vertical-align: middle;
}
.floating-button-container {
  height: max-content;
  margin: auto;
}
.align-left {
  text-align: left;
}
.margin-left-auto {
  display: block;
  margin-left: auto
} */